@import 'compass';
@import "compass/css3";

//////////////////////////////////////////////////////////
// GENERAL ///////////////////////////////////////////////
//////////////////////////////////////////////////////////
body {
    margin: 0px;
    padding: 0px;
}

.success {color: green;}
.error {color: red;}

.form {
    background: #EEE;
}