@import 'compass';
@import "compass/css3";

//////////////////////////////////////////////////////////
// GENERAL ///////////////////////////////////////////////
//////////////////////////////////////////////////////////
$black: #333;
body {
    background: url(../images/alps-blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}

.success {color: green;}
.error {color: red;}

.form {
    @include opacity(.9);
    background: #FFF;
    padding: 14px 24px;
    margin: 80px 0px 40px 0px;
    .testToken, .logout { color: $black; }
}
