[submodule "public/vendor/buttons"]
	path = public/vendor/buttons
	url = git@github.com:alexwolfe/Buttons.git
[submodule "public/vendor/grids"]
	path = public/vendor/grids
	url = git@github.com:alexwolfe/Grids.git
[submodule "public/vendor/forms"]
	path = public/vendor/forms
	url = git@github.com:alexwolfe/Forms.git
