    <body>
        <div class="container">
            <header>
                <h1>HEADER TITLE</h1>
            </header>

            <% if (info) { %>
                <div class="flash success"><%= info %></div>
            <% } %>
            <% if (err) { %>
                <div class="flash error"><%= err %></div>
            <% } %>

