    <% include header %>
    <body>
        <div class="container">
            <section id="forgot-password-form clearfix">
                <h2>Forgot your password?</h2>
                <form action="/forgot" method="POST">
                    <input class="email clearfix" type="email" name="email" placeholder="Email"><br>
                    <button type="submit" class="button button-rounded button-primary"/>Retrieve Password</button>
                </form>
            </section>
        </div>
    <% include footer %>
