<% include header %>
<body>
    <div class="container">
        <a class="button button-primary button-rounded" href="/">Home</a>
        <a class="button button-action button-rounded" href="/login">Login</a>
        <a class="button button-action button-rounded" href="/register">Register</a>
    </div>
<% include footer %>
