<% include header %>
    <% include bodytop %>
        <section id="sign-up-form clearfix">
            <h2>Login</h2>
            <form action="javascript:void(0)" method="POST">
                <input class="email clearfix" type="email" name="email" placeholder="Email"><br>
                <input class="password clearfix" type="password" name="password" placeholder="Password"><br>
                <button type="submit" class="button button-rounded button-primary"/>Log me in!</button> <span>or</span> <a href="/register">Sign up</a><br>
                <button class="testToken" type="button">Test Token</button>
            </form>
        </section>
    </div>
<% include footer %>
