<% include header %>
    <% include alert %>

    <div class="grid-fluid">
        <!-- Whole messaging section padding: ||........|| -->
        <div class="masthead clear b2 c8 a2">
            <h1>Plans &amp; Pricing</h1>
            <h3>Try any plan below for 30 days. If you don't like it, we won't charge you a cent.</h3>
        </div>
        <div class="plans clear b1 c10 a1">
            <div class="b1 c3 plan unlimited">
                <div class="name clear">
                    <h2>Unlimited</h2>
                    <h3>$80/month</h3>
                </div>
                <ul>
                    <li><em>Unlimited</em> Projects</li>
                    <li><em>Unlimited</em> Users</li>
                    <li><em>Unlimited</em> Storage</li>
                    <li>30 day trial</li>
                </ul>
                <a class="button button-rounded button-action" href="/account/signup?plan=unlimited">Choose Plan</a>
            </div>
            <div class="c3 plan recommended">
                <h4>Our Most Popular Plan</h4>
                <div class="name clear">
                    <h2>Professional</h2>
                    <h3>$35/month</h3>
                </div>
                <ul>
                    <li><em>40</em> Projects</li>
                    <li><em>Unlimited</em> Users</li>
                    <li><em>25gb</em> of Storage</li>
                    <li>30 day trial</li>
                </ul>
                <a class="button button-rounded button-primary" href="/account/signup?plan=pro">Choose Plan</a>
            </div>
            <div class="c3 plan">
                <div class="name clear">
                    <h2>Startup</h2>
                    <h3>$10/month</h3>
                </div>
                <ul>
                    <li><em>10</em> Projects</li>
                    <li><em>10</em> Users</li>
                    <li><em>10gb</em> of Storage</li>
                    <li>30 day trial</li>
                </ul>
                <a class="button button-rounded button-action" href="/account/signup?plan=startup">Choose Plan</a>
            </div>
        </div>
    </div>

<% include footer %>
